pkginfo>=1.8.2
packaging>=21.3
requirements-parser>=0.5.0
typing-extensions
pyright
htmltools
shiny
shinywidgets
shinyswatch
faicons
mdit-py-plugins
plotnine
plotly
seaborn
ipywidgets
ipyleaflet
siuba
palmerpenguins
black
qrcode
pytest
playwright
